.mainWrapper {
    position: relative;
    width: 100%;
    box-sizing: border-box;

    background: var(--white);

    padding-top: var(--navbar-height);
}
.heroWrapper {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.textContainer {
    position: relative;
    z-index: 1;
    max-width: 800px;

    padding-bottom: var(--navbar-height);
}
.textContainer > p {
    margin: 20px 0 30px 0;
}

.heroImgContainer {
    position: absolute;
    z-index: 0;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    
    height: 38vw;
}
.heroImgContainer img {
    height: 100%;
}

.buttons > *:not(:first-child) {
    margin-left: 20px;
}
.buttons > a {
    font-size: calc(var(--p-font-size) + 5px);
    /* padding: 10px 30px; */
    border-radius: 40px;
    color: var(--sub-primary-color);
    background: transparent;
}
.buttons > a:hover {
    text-decoration:underline !important;
}

@media (max-width: 1200px) {
    .heroWrapper {
        grid-template-columns: 1.5fr 1fr;
    }
}
@media (max-width: 800px) {
    .mainWrapper {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        
        padding-top: 20px;
    }
    .heroWrapper {
        grid-template-columns: 1fr;
        align-items: baseline;
        min-height: 1vh;
        margin-bottom: 75px;
    }
    .textContainer {
        height: auto;
        width: 100%;
    }
    .heroImgContainer {
        position: static;
        height: auto;
        width: 90%;
        
        transform: translateY(0);
    }
    .heroImgContainer img {
        height: auto;
    }
    
}