.contactForm {
    /* background: var(--white); */
}
.box {
    border-radius: 4px;
    background: var(--light-gray);
    padding: 3rem;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 1.2rem;
}
.box > button {
    margin-top: 2rem;
}
@media (max-width: 800px) {
    .box {
        padding: 1.5rem;
    }
    .row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
}