.myBtn[data-size='sm'] {
    font-size: calc(var(--p2-font-size) - 3px);
    padding: 5px 20px;
    border-radius: 40px;
}
.myBtn[data-size='md'] {
    font-size: var(--p2-font-size);
    padding: 5px 20px;
    border-radius: 40px;
}
.myBtn[data-size='lg'] {
    font-size: calc(var(--p-font-size) + 5px);
    padding: 10px 30px;
    border-radius: 40px;
}

.myBtn[disabled] {
    pointer-events: none;
    opacity: .5;
    cursor: not-allowed;
}

.myBtn {
    position: relative;
    z-index: 10;
    border: none;
    outline: none;
    
    background: var(--primary-color);
    color: #ffff;
    font-family: var(--body-font-family);
    border-radius: 40px;
    
    cursor: pointer;
    transition: all 200ms ease;
}
.myBtn:hover {
    filter: brightness(108%);
}

